<div class="centered-content">
    <mat-card>
        <mat-card-header>
            <mat-icon color="accent" mat-card-avatar>article</mat-icon>
            <mat-card-title>
                {{ prefix + '.title' | translate }}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h4>{{name}}<br />{{url}}</h4>
            <ng-container *ngFor="let block of blocks">
                <h4>{{ prefix + '.blocks.' + block.key + '.title' | translate }}</h4>
                <ng-container *ngFor="let parKey of block.parKeys">
                    <ng-container [ngSwitch]="parKey">
                        <app-cookies *ngSwitchCase="'cookies'"></app-cookies>
                        <a *ngSwitchCase="'coffee'" href="{{coffee}}" class="coffee" target="_blank">
                            <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png"
                                alt="Buy Me A Coffee" />
                        </a>
                        <p *ngSwitchDefault>{{ prefix + '.blocks.' + block.key +
                            '.paragraphs.' + parKey | translate: {name: name, url: url, email: email} }}</p>
                    </ng-container>
                </ng-container>
            </ng-container>
        </mat-card-content>
    </mat-card>
</div>