div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

mat-card {
    max-width: 300px;

    &.cashback {
        mat-card-content {
            height: 248px;

            .image {
                margin-left: -16px;
                margin-right: -16px;
                display: flex;
                flex-grow: 1;
                flex-shrink: 1;
                align-items: center;
                justify-content: center;
            }

            .dates {
                height: 40px;
                padding-top: 8px;
            }
        }
    }
}