<p>{{ 'cookies.consent' | translate: {url: url} }}</p>
<p>{{ 'cookies.state' | translate }}
    <span *ngIf="!answered">{{ 'cookies.states.none' | translate }}</span>
    <span *ngIf="answered && !consented">{{ 'cookies.states.technical' | translate }}</span>
    <span *ngIf="answered && consented">{{ 'cookies.states.all' | translate }}</span>
</p>
<ng-container *ngFor="let cookieType of cookieTypes">
    <h5>{{ prefix +'.tables.' + cookieType + '.title' | translate: { count: cookieNamesByType.get(cookieType)!.length } }}</h5>
    <p>{{ prefix +'.tables.' + cookieType + '.description' | translate }}</p>
    <ng-container [ngTemplateOutlet]="tableTemplate" [ngTemplateOutletContext]="{ $implicit: cookieType, names: cookieNamesByType.get(cookieType) }">
    </ng-container>
</ng-container>
<ng-template #tableTemplate let-type let-names="names">
    <table class="mat-mdc-table mdc-data-table__table mat-elevation-z8">
        <thead>
            <tr class="mat-header-row">
                <th class="mat-mdc-header-row mdc-data-table__header-row">{{ 'cookies.tables.columns.name' | translate }}</th>
                <th class="mat-mdc-header-row mdc-data-table__header-row">{{ 'cookies.tables.columns.provider' | translate }}
                </th>
                <th class="mat-mdc-header-row mdc-data-table__header-row">{{ 'cookies.tables.columns.purpose' | translate }}
                </th>
                <th class="mat-mdc-header-row mdc-data-table__header-row">{{ 'cookies.tables.columns.duration' | translate }}
                </th>
                <th class="mat-mdc-header-row mdc-data-table__header-row">{{ 'cookies.tables.columns.type' | translate }}</th>
            </tr>
        </thead>
        <tbody class="mdc-data-table__content">
            <tr *ngFor="let name of names" class="mat-mdc-row mdc-data-table__row">
                <td class="mat-mdc-cell mdc-data-table__cell">{{ name }}</td>
                <td class="mat-mdc-cell mdc-data-table__cell">{{ 'cookies.tables.' + type + '.rows.' + name + '.provider' | translate: {url: url} }}</td>
                <td class="mat-mdc-cell mdc-data-table__cell">{{ 'cookies.tables.' + type + '.rows.' + name + '.purpose' | translate }}</td>
                <td class="mat-mdc-cell mdc-data-table__cell">{{ 'cookies.tables.' + type + '.rows.' + name + '.duration' | translate }}</td>
                <td class="mat-mdc-cell mdc-data-table__cell">{{ 'cookies.tables.' + type + '.rows.' + name + '.type' | translate }}</td>
            </tr>
        </tbody>
    </table>
</ng-template>