.theme {
    height: 100%;
}

.mat-app-background {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-shrink: 1;
    flex-grow: 1;
    position: relative;
    overflow-y: auto;
}

header {

    .mat-toolbar {

        &.mat-toolbar-row,
        &.mat-toolbar-single-row {
            height: 64px;
        }

        justify-content: space-between;

        .logo {
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                margin-right: 16px;

                @media (max-width: 599px) {
                    margin-right: 0px;
                }
            }

            div {
                display: flex;
                flex-direction: column;

                @media (max-width: 599px) {
                    display: none;
                }
            }
        }

        .mat-icon {
            margin-right: 0px;
        }

        a {

            &,
            &:visited,
            &:-webkit-any-link {
                text-decoration: none;
            }
        }

        .fb-login-button {
            display: inline-block;
            vertical-align: middle;
            background: #1877f2;
        
            img, .mat-icon {
                vertical-align: middle;
                display: inline-block;
                margin-right: 8px;
                border-radius: 4px;
                @media (max-width: 599px) {
                    margin-right: 0px;
                }
            }
        
            span {
                display: inline-block;
                color: #fff;
                letter-spacing: .25px;
                text-align: center;
                vertical-align: middle;
                white-space: nowrap;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 16px;
                @media (max-width: 599px) {
                    display: none;
                }
            }
        }
    }
}

footer {
    .mat-toolbar {

        &.mat-toolbar-row,
        &.mat-toolbar-single-row {
            height: 64px;
        }

        justify-content: space-around;

        .github {
            @media (max-width: 599px) {
                display: none;
            }
        }
    }
}

