header {

    .mat-toolbar {

        &.mat-toolbar-row,
        &.mat-toolbar-single-row {
            height: 64px;
        }

        justify-content: space-between;

        a {

            img {
                margin-right: 16px;

                @media (max-width: 599px) {
                    margin-right: 0px;
                }
            }

            div {
                display: flex;
                flex-direction: column;

                @media (max-width: 599px) {
                    display: none;
                }
            }
        }

        @media (max-width: 599px) {
            .mat-mdc-unelevated-button {
                span {
                    display: none;
                }

                .mat-icon {
                    margin-left: 0;
                    margin-right: 0px;
                }
            }
        }
    }
}

footer {
    .mat-toolbar {

        &.mat-toolbar-row,
        &.mat-toolbar-single-row {
            height: 64px;

            div {
                display: flex;
                align-items: center;

                .github {

                    @media (max-width: 599px) {
                        display: none;
                    }
                }
            }

            justify-content: space-around;
        }
    }
}