<div [ngClass]="{'dark-theme': isDarkTheme | async, 'theme': true}">
  <div class="mat-app-background">
    <header>
      <mat-toolbar>
        <a class="logo" routerLink="">
          <img src="{{'assets/logo' + ((isDarkTheme | async) ? '-light' : '') + '.svg'}}" height="64px" />
          <div>
            <span><b>Cashback</b></span>
            <span><b>Alarm</b></span>
          </div>
        </a>
        <div>
          <button *ngIf="(isDarkTheme | async); else lightTemplate" mat-mini-fab color="accent"
            (click)="setDarkTheme(false)">
            <mat-icon>light_mode</mat-icon>
          </button>
          <ng-template #lightTemplate>
            <button mat-mini-fab color="accent" (click)="setDarkTheme(true)">
              <mat-icon>dark_mode</mat-icon>
            </button>
          </ng-template>
        </div>
        <div>
          <button *ngIf="(isLoggedIn | async); else loggedOutTemplate" mat-flat-button color="accent">
            <mat-icon>face</mat-icon>
          </button>
          <ng-template #loggedOutTemplate>
            <button mat-flat-button color="accent">
              <mat-icon>login</mat-icon>
              <span>{{'login'|translate}}</span>
            </button>
          </ng-template>
          <mat-menu #menu="matMenu">
            <a mat-menu-item routerLink="/profile">
              <mat-icon>person</mat-icon><span>{{'user.profile' | translate}}</span>
            </a>
            <a mat-menu-item routerLink="/participations">
              <mat-icon>local_offer</mat-icon><span>{{'user.offers' | translate}}</span>
            </a>
            <button mat-menu-item>
              <mat-icon>logout</mat-icon>{{'user.logout' | translate}}
            </button>
          </mat-menu>
        </div>
      </mat-toolbar>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
    <footer>
      <mat-toolbar>
        <div class="mat-small">
          <a class="github" mat-button
            href="https://github.com/freundewerbenfreunde/freundewerbenfreunde.github.io"><img
              src="{{'assets/GitHub-Mark' + ((isDarkTheme | async) ? '-Light' : '') + '-32px.png'}}" height="24px"
              matTooltip="{{'source' | translate}}" /></a>
          <a mat-button routerLink="/termsofuse">
            {{'termsofuse'|translate}}
          </a>
          <a mat-button routerLink="/privacy">
            {{'privacy'|translate}}
          </a>
          <a mat-button routerLink="/imprint">
            {{'imprint'|translate}}
          </a>
        </div>
      </mat-toolbar>
    </footer>
  </div>
</div>