<div [ngClass]="{'dark-theme': isDarkTheme | async, 'theme': true}">
  <div class="mat-app-background">
    <header>
      <mat-toolbar>
        <a class="flex" routerLink="">
          <img src="{{'assets/logo' + ((isDarkTheme | async) ? '-light' : '') + '.svg'}}" alt="logo" width="64px" height="64px" />
          <div>
            <span *ngFor="let s of name.split(' ')" ><b>{{s}}</b></span>
          </div>
        </a>
        <div>
          <button *ngIf="(isDarkTheme | async); else lightTemplate" mat-mini-fab color="accent"
            (click)="setDarkTheme(false)" aria-label="theme">
            <mat-icon>light_mode</mat-icon>
          </button>
          <ng-template #lightTemplate>
            <button mat-mini-fab color="accent" (click)="setDarkTheme(true)" aria-label="theme">
              <mat-icon>dark_mode</mat-icon>
            </button>
          </ng-template>
        </div>
        <div>
          <button *ngIf="me; else loggedOutTemplate" mat-flat-button color="accent" [matMenuTriggerFor]="menu" aria-label="user menu">
            <mat-icon>face</mat-icon>
            <span>{{me.name}}</span>
          </button>
          <ng-template #loggedOutTemplate>
            <a mat-flat-button color="accent" routerLink="/login">
              <mat-icon>login</mat-icon>
              <span>{{'login.title'|translate}}</span>
            </a>
          </ng-template>
          <mat-menu #menu="matMenu">
            <a mat-menu-item routerLink="/profile">
              <mat-icon>person</mat-icon><span>{{'user.profile' | translate}}</span>
            </a>
            <a mat-menu-item routerLink="/participations">
              <mat-icon>currency_exchange</mat-icon><span>{{'participations.title' | translate}}</span>
            </a>
            <a mat-menu-item routerLink="/notifications">
              <mat-icon>notifications</mat-icon><span>{{'notifications.title' | translate}}</span>
            </a>
            <button mat-menu-item (click)="logout()" aria-label="logout">
              <mat-icon>logout</mat-icon>{{'user.logout' | translate}}
            </button>
          </mat-menu>
        </div>
      </mat-toolbar>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
    <footer>
      <mat-toolbar>
        <div>
          <a class="github" href="https://github.com/cashbackalarm/cashbackalarm.github.io">
            <img src="{{'assets/GitHub-Mark' + ((isDarkTheme | async) ? '-Light' : '') + '-32px.png'}}" 
              matTooltip="{{'source' | translate}}" alt="github"  width="24px" height="24px" />
          </a>
          <a routerLink="/termsofuse">
            {{'termsofuse.menu'|translate}}
          </a>
          <a routerLink="/privacy">
            {{'privacy.menu'|translate}}
          </a>
          <a routerLink="/imprint">
            {{'imprint.menu'|translate}}
          </a>
        </div>
      </mat-toolbar>
    </footer>
  </div>
</div>