@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $config: mat.get-color-config($theme);
  $foreground: map.get($config, foreground);

  .mat-app-background {

    .mat-toolbar {
      .logo {
        color: mat.get-color-from-palette($foreground, text);
      }
    }

    form {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      place-content: center;
      align-items: center;

      mat-card {
        width: auto;

        mat-form-field {
          width: 100%;
        }

        label {
          max-width: 400px;
        }

        mat-select-trigger {
          span {
            display: flex;

            span {
              white-space: normal;
            }

            img {
              min-width: 60px;
              min-height: 40px;
              width: 60px;
              height: 40px;
            }
          }
        }
      }
    }

    mat-card {
      margin: 8px 8px 8px 8px;
      min-width: 300px;
      width: 300px;

      .mat-mdc-card-header {
        min-height: 40px;
        padding: 16px 16px 16px 16px;
        align-items: center;

        .mat-mdc-card-avatar {
          height: auto;
          width: auto;
          border-radius: 0%;
          margin-bottom: 0px;

          &.material-icons {
            height: 32px;
            font-size: 32px;
          }
        }
      }

      img {
        min-width: 300px;
        min-height: 200px;
        width: 300px;
        height: 200px;
      }

      .mat-mdc-card-content {
        display: flex;
        flex-direction: column;

        p {
          min-height: 60px;
        }

        .cashback {
          min-height: 40px;
        }
      }


      .mat-mdc-table {
        a {
          display: flex;
          align-items: center;

          img {
            min-width: 60px;
            min-height: 40px;
            width: 60px;
            height: 40px;
          }
        }
      }

      .mdc-card__actions {
        justify-content: center;
      }
    }
  }

  mat-option {
    span {
      display: flex;

      img {
        min-width: 60px;
        min-height: 40px;
        width: 60px;
        height: 40px;
      }
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);

  @if $color-config !=null {
    @include color($theme);
  }
}