name: GitHub Pages

on:
  push:
    branches:
    - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16'

    - name: Install dependencies
      run: npm install

    - name: Build
      run: npm run build

    - name: Create additional pages
      run: |
        cp dist/cashback-alarm/index.html dist/cashback-alarm/404.html
        cp dist/cashback-alarm/index.html dist/cashback-alarm/termsofuse.html
        cp dist/cashback-alarm/index.html dist/cashback-alarm/privacy.html
        cp dist/cashback-alarm/index.html dist/cashback-alarm/imprint.html
        cp dist/cashback-alarm/index.html dist/cashback-alarm/account-deletion.html

    - name: Deploy
      if: success()
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: dist/cashback-alarm